.button-clear {
	height: 73px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 25px;
	font-weight: bold;
	flex: 1;
	user-select: none; /* Esta propieda evita que el texto se pueda seleccionar*/
	cursor: pointer;
	background-color: #090909;
	color: rgb(135, 133, 133);
	border-radius: 15px;
}

.button-clear:hover {
	background-color: rgba(54, 50, 50, 0.775);
	color: rgb(252, 4, 4);
}
